<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<<<<<<< HEAD
=======
<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

>>>>>>> 131bf370a275e678ae15650b184fcdf0c7788949
<br>
<p>
   Created at <%= time_ago_in_words @user.created_at %> ago
 </p>
 <br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
