<h1>Listing products</h1>
<table>
<% @products.each do |product| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td>
<<<<<<< HEAD
<% if product.photos.any? %>
	<% product.photos.each do |photo| %>
	<ul class="row" id="photos-list">
    	<li class="col-xs-3">
      	<%= link_to image_tag(photo.image.thumb('180x180#').url, class: 'img-thumbnail'),
        	photo.image.url, target: '_blank' %>
    	</li>
	</ul>
<% end %>
<% else %>
	<p> No Image </p>
<% end %>
=======
<%= image_tag(product.image_url, class: 'list_image') %>
</td>
>>>>>>> 939426a3587b672c8e89e7858ebec8455e2930ef
<td class="list_description">
<dl>
<dt><%= product.title %></dt>
<dd><%= truncate(strip_tags(product.description),
length: 80) %></dd>
</dl>
</td>
<td class="list_actions">
<%= link_to 'Show', product %><br/>
<%= link_to 'Edit', edit_product_path(product) %><br/>
<%= link_to 'Destroy', product,
data: { confirm: 'Are you sure?' },
method: :delete %><br/>
</td>
</tr>
<% end %>
</table>
<br/>
<%= link_to 'New product', new_product_path %>
