<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
<title>-h0angnhat-</title>
<link rel="stylesheet" href="/assets/stylesheets/application.css.scss">
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id = "website">
<div id = "banner" >
	<%= @page_title || ".:Tất Tần Tật:." %>
	<div id = "top-left">
		<ul>
			<li><a href = "http://www.facebook.com"><img Src ="/assets/facebook.png"/></a></li>
			<li><a href = "https://mail.google.com/"><img Src ="/assets/gmail.png"/></a></li>
			<li><a href = "https://vn.yahoo.com"><img Src ="/assets/yahoo.png"/></a></li>
		</ul>
	</div>
	<div id = "top-right">
		<ul>
			<li><img src ="/assets/login1.png" /></li>
			<li>|</li>
			<li><a href = "#">Login</a></li>
			<li>|</li>
			<li><a href = "#">sign up</a></li>
		</ul>
	</div>
</div>
<div id = "columns">
	<div id = "side">
		<ul>
			<li><a href="http://localhost:3000/" style="text-decoration:none;">Home</a></li>
			<li><a href="http://localhost:3000/store/index"style="text-decoration:none;">Catalog</a></li>
			<li><a href="http://localhost:3000/products"style="text-decoration:none;">Product</a></li>
			<li><a href="http://localhost:3000/carts"style="text-decoration:none;">MyCart</a></li>
			<li><a href="http://localhost:3000/users"style="text-decoration:none;">Messages</a></li>
			<li><a href="http://www..../contact"style="text-decoration:none;"><%= 1.hour.from_now %></a></li>
		</ul>
	</div>
</div>
<%= render 'layouts/nav' %>

<div class="container">
  <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
  <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>


  <%= yield %>
</div>
<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
</body>
</html>